#For bidirection-small_dataset.py and lstm_model_largedata_(1).py install these libraries with specified versions
torch==1.11.0+cu113
numpy==1.21.6
pandas==1.3.5
sklearn==1.0.2
sentence-transformers
nltk==3.2.5
gensim==3.6.0
joblib==1.1.0


#For RoBERTaModel.py install these libraries with specified versions.
torch==1.11.0+cu113
transformers==3.4.0
numpy==1.21.6
pandas==1.3.5
sklearn==1.0.2
nltk==3.2.5
gensim==3.6.0